:root{
    --cor-primaria: #0C181C;
    --cor-secundaria: #13282D;
    --cor-terciaria: #335861;
    --cor-campo: #2F525A;
    --cor-botao: #DCE7EA;
    --cor-texto: #E8F0F2;
    --preto: #050607;
}

/* Reseta o body */


/* CONTAINER PRINCIPAL PREENCHENDO TUDO */
.cadastro-container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* CARD DE CADASTRO */
.card-cadastro{
    width: 45%;
    background: var(--cor-secundaria);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card-cadastro h2{
    font-size: 30px;
    margin-bottom: 25px;
}

/* Inputs */
.input-group{
    width: 80%;
    margin-bottom: 18px;
    position: relative;
}

.input-group input{
    width: 100%;
    padding: 14px;
    border-radius: 6px;
    border: none;
    background: var(--cor-campo);
    color: var(--cor-texto);
    font-size: 16px;
}

/* Ícone olho */
.toggle-senha-img{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.2s;
}

.toggle-senha-img:hover{
    opacity: 1;
}

/* Botão */
.btn-enviar{
    width: 40%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: var(--cor-botao);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* IMAGEM LATERAL */
.imagem-lateral{
    width: 55%;
    background: url('../imagens/predioEmpresa.png') no-repeat center;
    background-size: cover;
}
