/* Fundo geral da página */
:root {
    --cor-primaria: #112026;
    --cor-secundaria: #1E3A40;
    --cor-terciaria: #3C6973;
    --cor-quarternaria: #6A9BA6;
    --cor-quinaria: #B4D2D9;
    --branco: #E1EFF3;
    --cinza: #151819;
    --preto: #0D0F10;
    --font-principal: 'Sansation';
}



body {
    margin: 0;
    font-family: var(--font-principal);
    /* background: #1c1c1c; */
}

/* HEADER PRINCIPAL */
header {
    width: 100%;
    height: 70px;
    background: var(--cor-primaria);
    align-items: center;
    padding: 0 20px;
    gap: 30px;
}

/* ÍCONE À ESQUERDA */
.icon img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    object-fit: cover;
}

/* NAV - MENU */
nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* LINKS DO MENU */
nav a {
    color: var(--branco);
    text-decoration: none;
    font-size: 22px;
}

/* Estilos individuais (caso precise no futuro) */
.buttonHome a,
.buttonPost a,
.buttonSobre a {
    color: var(--branco);
    text-decoration: none;
}

/* Hover opcional (igual aparência da imagem: sem mudanças) */
nav a:hover {
    opacity: 0.85;
}