

:root{
    --cor-primaria: #112026;
    --cor-secundaria: #1E3A40;
    --cor-terciaria: #3C6973;
    --cor-quarternaria: #6A9BA6;
    --cor-quinaria: #B4D2D9;
    --branco: #E1EFF3;
    --cinza: #151819;
    --preto: #0D0F10;
    --font-principal: 'Sansation';
}



/* -------------------------------------------------------------------------- */
/*                                 TOPO DA PÁGINA                              */
/* -------------------------------------------------------------------------- */

.sobre-nos-topo {
    width: 100%;
    height: 330px;
    background: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sobre-nos-imagem img {
    width: 350px;
    user-select: none;
}

/* -------------------------------------------------------------------------- */
/*                             CONTEÚDO PRINCIPAL                              */
/* -------------------------------------------------------------------------- */

.sobre-nos-conteudo {
    background: var(--preto);
    color: var(--branco);
    text-align: center;
    padding: 40px 20%;
}

.sobre-nos-conteudo h1 {
    font-size: 26px;
    margin-bottom: 25px;
}

.sobre-nos-conteudo p {
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 18px;
    color: var(--branco);
}

/* Remove qualquer interferência do footer/header */
.sobre-nos-conteudo * {
    box-sizing: border-box;
}
